<%- include("layouts/head") %>
    <header class="position-relative">
        <%- include("layouts/nav") %>
            <div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
                <div class="text-center">
                    <p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">
                        Talk to Us<br>about any question you have
                    </p>
                </div>
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
    </header>
    <div class="container-fluid tm-content-container mx-auto pt-4">
        <%- include("layouts/footer") %>
    </div>
    <%- include("layouts/script") %>