<%- include("layouts/head") %>
    <header class="position-relative">
        <%- include("layouts/nav") %>
            <div class="tm-welcome-container text-center text-white">
                <div class="tm-welcome-container-inner">
                    <p class="tm-welcome-text mb-1 text-white">Video Catalog is brought to you by TemplateMo.</p>
                    <p class="tm-welcome-text mb-5 text-white">This is a full-width video banner.</p>
                    <a href="#content" class="btn tm-btn-animate tm-btn-cta tm-icon-down">
                        <span>Discover</span>
                    </a>
                </div>
            </div>

            <div id="tm-video-container">
                <video autoplay muted loop id="tm-video">
                    <!-- <source src="video/sunset-timelapse-video.mp4" type="video/mp4"> -->
                    <source src="video/wheat-field.mp4" type="video/mp4">
                </video>
            </div>

            <i id="tm-video-control-button" class="fas fa-plus"></i>
    </header>
    <div class="container-fluid">
        <div id="content" class="mx-auto tm-content-container">
            <main>
                <div class="col-lg-4 col-md-6 col-sm-12 tm-catalog-item">
                    <div class="position-relative tm-thumbnail-container">
                        <img src="img/tn-09.jpg" alt="Image" class="img-fluid tm-catalog-item-img">
                        <a href="video-page.html" class="position-absolute tm-img-overlay">
                            <i class="fas fa-play tm-overlay-icon"></i>
                        </a>
                    </div>
                    <div class="p-4 tm-bg-gray tm-catalog-item-description">
                        <h3 class="tm-text-primary mb-3 tm-catalog-item-title">Sed mattis nisi erat</h3>
                        <p class="tm-catalog-item-text">Integer ultricies mi eu aliquet cursus. Nam sem leo, imperdiet
                            non lacinia eget, volutpat ac massa. Donec mattis in velit quis commodo. Cras nec rutrum
                            arcu.</p>
                    </div>
                </div>
                <div>
                    <ul class="nav tm-paging-links">
                        <li class="nav-item active"><a href="#" class="nav-link tm-paging-link">1</a></li>
                        <li class="nav-item"><a href="#" class="nav-link tm-paging-link">2</a></li>
                        <li class="nav-item"><a href="#" class="nav-link tm-paging-link">3</a></li>
                        <li class="nav-item"><a href="#" class="nav-link tm-paging-link">4</a></li>
                        <li class="nav-item"><a href="#" class="nav-link tm-paging-link">></a></li>
                    </ul>
                </div>
            </main>
            <%- include("layouts/footer") %>
        </div>
    </div>
    <%- include("layouts/script") %>